@model examen_gestion_cuenta_bancarias.Data.ApplicationDbContext


<table class="table">
    <thead>
        <tr>
            
            <th>Nombre Titular</th>
            <th>Tipo de Cuenta</th>
            <th>Saldo Inicial</th>
            <th>Email</th>
        </tr>
    </thead>

</table>